body {
    font-family: 'Rubik', sans-serif;

  margin: 0;
  background-color: #f8f6f8;
  color: #333;
}

header {
  background-color: #222;
}

.logo {
  font-size: 50px;
  color: #e675b7;
  font-weight: bold;
  letter-spacing: 16px;
}

.user-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  filter: invert(1);
}

.user-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
  width: 150px;
}

.user-dropdown a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.user-dropdown a:hover {
  background-color: #eee;
}

.user-dropdown.show {
  display: block;
}

.search-bar {
  background-color: #f1d5eb;
  padding: 15px 20px;
}
.menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

/* Menú desplegable tipo panel */
.menu-panel {
  display: none;
  background-color: #f1d5eb;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  animation: slideDown 0.3s ease-in-out;
}

.menu-panel a {
  display: block;
  padding: 2px;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
 
}

.menu-panel a:hover {
  background-color: #e6b8e4;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about, .equipo, footer {
  background-color: #f3d6ec;
    font-family: 'Rubik', sans-serif;
}

footer {
  background-color: #1d1d1d;
}
.card-img-top {
  height: 300px; /* Puedes ajustar esta altura según lo que necesites */
  object-fit: cover;
}
