body{
    background: #dcdde1;
}

.navbar-brand img{
    width: 10%;

}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f8f6f8;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 50px;
  color: #e675b7;
  font-weight: bold;
  letter-spacing: 16px;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.user-menu {
  position: relative;
 
}

.user-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;      /* lo hace redondo si es cuadrado */
  transition: transform 0.2s ease;
  filter: invert(1);       /* convierte el ícono negro en blanco si es PNG */
}

.user-icon:hover {
  transform: scale(1.1);   /* efecto de agrandar al pasar el mouse */
}

.user-dropdown {
  display: none;
  position: absolute;
  right: 10;
  top: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  z-index: 10;
}

.user-dropdown a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: background 0.3s;
}

.user-dropdown a:hover {
  background-color: #eee;
}

.user-dropdown.show {
  display: block;
}

.search-bar {
  background-color: #f1d5eb;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* Menú desplegable tipo panel */
.menu-panel {
  display: none;
  background-color: #f1d5eb;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  animation: slideDown 0.3s ease-in-out;
}

.menu-panel a {
  display: block;
  padding: 2px;
  margin: 0px auto;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
 
}

.menu-panel a:hover {
  background-color: #e6b8e4;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}


